    <%= simple_form_for @cidadao, url: url_path do |f| %>
      <div class="form-inputs">
        <%= f.input :nome_completo,
                    placeholder: "Nome completo",
                    class: "form-completo",
                    label: "Nome completo",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nome_completo" } %>
        <%= f.input :cpf,
                    label: "CPF",
                    placeholder: "555.555.555-55",
                    required: true,
                    input_html: { autocomplete: "cpf", class:'cpf-masked' } %>
        <%= f.input :data_nascimento, as: :string ,
                    class: "form-pequeno",
                    label: "Data de Nascimento",
                    required: true,
                    input_html: { type: 'date', autocomplete: "data_nascimento" } %>
        <%= f.input :email,
                    label: "E-mail",
                    placeholder: "E-mail",
                    class: "form-completo",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :telefone,
                    label: "Telefone",
                    placeholder: "(00) 0000-0000",
                    required: true,
                    input_html: { autocomplete: "telefone", class:'telefone-masked'  } %>
        <%= f.input :foto, as: :file, 
                    label: 'Escolher foto' %>
        <%= f.input :status, as: :radio_buttons,
                    include_blank: false,
                    collection: [['Ativo', true], ['Inativo', false]] %>
      </div>

      <%= f.fields_for :endereco do |ff| %>
       <div class="form-inputs">
        <h4>Endereço</h4>
          <%= ff.input :cep,
                      placeholder: "09555-555",
                      label: "CEP",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cep", class:'cep-masked cep' } %>
          <%= ff.input :logradouro,
                      id: "logradouro",
                      class: "form-completo",
                      label: "Logradouro",
                      placeholder: "Rua, Av., Trav.",
                      required: true,
                      input_html: { autocomplete: "logradouro" } %>
          <%= ff.input :complemento,
                      id: "complemento",
                      class: "form-pequeno",
                      label: "Complemento",
                      placeholder: "Apto., Bloco",
                      required: true,
                      input_html: { autocomplete: "complemento" } %>                      
          <%= ff.input :bairro ,
                      id: "bairro",
                      class: "form-pequeno",
                      label: "Bairro",
                      required: true,
                      input_html: { autocomplete: "bairro" } %>
          <%= ff.input :cidade,
                      id: "cidade",
                      label: "Cidade",
                      placeholder: "",
                      class: "form-completo",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cidade" } %>
          <%= ff.input :uf, collection: [["AC"],
                                        ["AL"],
                                        ["AP"],
                                        ["AM"],
                                        ["BA"],
                                        ["CE"],
                                        ["DF"],
                                        ["ES"],
                                        ["GO"],
                                        ["MA"],
                                        ["MT"],
                                        ["MS"],
                                        ["MG"],
                                        ["PA"],
                                        ["PB"],
                                        ["PR"],
                                        ["PE"],
                                        ["PI"],
                                        ["RJ"],
                                        ["RN"],
                                        ["RS"],
                                        ["RO"],
                                        ["RR"],
                                        ["SC"],
                                        ["SP"],
                                        ["SE"],
                                        ["TO"]],
                      label_method: :first, value_method: :first,
                      class: "form-pequeno",
                      placeholder: "",
                      required: true,
                      input_html: { autocomplete: "uf" } %>
        </div>
      <% end %>
 
      <div class="form-actions">
        <%= f.button :submit, "Adicionar munícipe", class:"btn-home" %>
      </div>
    <% end %>
