    <%= simple_form_for [@cidadao] do |f| %>
      <div class="form-inputs">
        <%= f.input :nome_completo,
                    placeholder: "Nome completo",
                    class: "form-completo",
                    label: "Nome completo",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nome_completo" } %>
        <%= f.input :cpf,
                    class: "form-pequeno",
                    label: "CPF",
                    placeholder: "555.555.555-55",
                    required: true,
                    input_html: { autocomplete: "cpf" } %>
        <%= f.input :data_nascimento, as: :string ,
                    class: "form-pequeno",
                    label: "Data de Nascimento",
                    required: true,
                    input_html: { type: 'date', autocomplete: "data_nascimento" } %>
        <%= f.input :email,
                    label: "E-mail",
                    placeholder: "E-mail",
                    class: "form-completo",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :telefone,
                    label: "Telefone",
                    placeholder: "(00) 0000-0000",
                    required: true,
                    input_html: { autocomplete: "telefone" } %>
        <%= f.input :foto, as: :file, 
                    input_html: { class: 'd-none' }, 
                    label_html: { class: 'form-foto'},
                    label: 'Escolher foto' %>
      </div>
      
      <%= f.simple_fields_for :endereco do |p| %>
        <div class="form-inputs">
        <h4>Endereço</h4>
          <%= p.input :cep,
                      placeholder: "09555-555",
                      class: "form-completo",
                      label: "CEP",
                      id: "cep",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cep" } %>
          <%= p.input :logradouro,
                      class: "form-completo",
                      label: "Logradouro",
                      placeholder: "Rua ",
                      required: true,
                      input_html: { autocomplete: "logradouro" } %>
          <%= p.input :complemento,
                      class: "form-pequeno",
                      label: "Complemento",
                      placeholder: "Número, Apto., Bloco",
                      required: true,
                      input_html: { autocomplete: "complemento" } %>                      
          <%= p.input :bairro ,
                      class: "form-pequeno",
                      label: "Bairro",
                      required: true,
                      input_html: { autocomplete: "bairro" } %>
          <%= p.input :cidade,
                      label: "Cidade",
                      placeholder: "",
                      class: "form-completo",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cidade" } %>
          <%= p.input :uf,
                      label: "UF",
                      class: "form-pequeno",
                      placeholder: "",
                      required: true,
                      input_html: { autocomplete: "uf" } %>
        </div>
      <% end %>
 
      <div class="form-actions">
        <%= f.button :submit, "Adicionar novo munícipe", class:"btn-home" %>
      </div>
    <% end %>