<div class="container">
  <div class="d-flex justify-content-around align-items-center mb-3">
    <div class="p-2"><%=image_tag "logo.png", style:'height:150px; width:auto;' %></div>
    <div class="p-2"><h1 class="text-center mt-2"><%= t('new.title') %></h1></div>
    <div class="p-2"><a class="btn btn-home" href='<%= cidadao_path(@cidadao) %>' role="button"><%= t('edit.show') %></a></div>
  </div>
  <div class="justify-content-center p-5 w-75">
    <h2><%= t('edit.title') %></h2>
    <%= render 'form', url_path: cidadao_path %>
</div>
