<div class="container">
  <div class="d-flex justify-content-around align-items-center mb-3">
    <div class="p-2"><%=image_tag "logo.png", style:'height:150px; width:auto;' %></div>
    <div class="p-2"><h1 class="text-center mt-2"><%= t('new.title') %></h1></div>
    <div class="p-2"></div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="<%= cidadao_path(@cidadao) %>"><%= t('show.title') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="<%= edit_cidadao_path(@cidadao) %>"><%= t('show.edit') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cidadaos/"><%= t('show.list') %></a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="justify-content-center px-5 w-80">
        <%= render 'form', url_path: cidadao_path %>
      </div>
    </div>
  </div>
</div>
