<div class="container">
  <div class="d-flex justify-content-around align-items-center mb-3">
    <div class="p-2"><%=image_tag "logo.png", style:'height:150px; width:auto;' %></div>
    <div class="p-2"><h1 class="text-center mt-2">MUNÍCIPES</h1></div>
    <div class="p-2"><a class="btn btn-home" href="cidadaos/new" role="button">Novo Munícipe</a></div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome Completo</th>
        <th scope="col">CPF</th>
        <th scope="col"><%= Cidadao.human_attribute_name(:telefone) %></th>
        <th scope="col"><%= Cidadao.human_attribute_name(:email) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cidadaos.each do |cidadao| %>
        <tr>
            <th scope="row"></th>
            <td><%= cidadao.nome_completo %></td>
            <td><%= cidadao.cpf %></td>
            <td><%= cidadao.telefone %></td>
            <td><%= cidadao.email %></th>
            <td><%= link_to 'Editar', edit_cidadao_path(cidadao) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
