<div class="container d-flex justify-content-center">
  <div class="justify-content-center p-5 w-75">
    <h2>Preencha seus dados</h2>
    <h5>Todos os campos abaixo são obrigatórios.</h5>

  <div class="container mt-3">
  <%= form_for(@cidadao) do |f| %>
    <%= f.label :nome_completo %>
    <%= f.text_field :nome_completo %>
    <%= f.label :cpf %>
    <%= f.number_field :cpf %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :data_nascimento %>
    <%= f.date_field :data_nascimento %>
    <%= f.label :telefone %>
    <%= f.number_field :telefone %>
    <%= f.label :status %>
    <%= f.text_field :status %>
    <%= f.submit %>
  <% end %>
</div>