<div class="container text-center mt-3">
  <h1>Munícipe</h1>
</div>

<div class="container my-5">
    <div class="">
    <ul>
      <li><%= @cidadao.nome_completo %>
      <li><%= @cidadao.cpf %></li>
      <li><%= @cidadao.email %></li>
      <li><%= @cidadao.data_nascimento %></li>
      <li><%= @cidadao.telefone %></li>
      <li><%= @cidadao.foto %></li>
    </ul>
    </div>
</div>