<div class="container">
  <div class="d-flex justify-content-around align-items-center mb-3">
    <div class="p-2"><%=image_tag "logo.png", style:'height:150px; width:auto;' %></div>
    <div class="p-2"><h1 class="text-center mt-2"><%= t('new.title') %></h1></div>
    <div class="p-2"></div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="<%= cidadao_path(@cidadao) %>"><%= t('show.title') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= edit_cidadao_path(@cidadao) %>"><%= t('show.edit') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cidadaos/"><%= t('show.list') %></a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3 text-center">
          <% if @cidadao.foto.present? %>
            <%= cl_image_tag @cidadao.foto.key, style:'height: 150px; width: 150px; border-radius: 50%;' %>
          <% else %>
            <%= image_tag "avatar.png", style:'height: 150px; width: 150px; border-radius: 50%;' %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <h4><%= t('form.title.personal') %></h4>
          <div class="row row-cols-3">
            <div class="col"><h5><%= t('show.nome_completo') %></h5><p><%= @cidadao.nome_completo %></p></div>
            <div class="col"><h5><%= t('show.cpf') %></h5><p><%= @cidadao.decorate.pretty_cpf %></p></div>
            <div class="col"><h5><%= t('show.cns') %></h5><p><%= @cidadao.decorate.pretty_cns %></p></div>
          </div>
          <div class="row row-cols-3">
            <div class="col"><h5><%= t('show.data_nascimento') %></h5><p><%= l(@cidadao.data_nascimento, format: :default) %></p></div>
            <div class="col"><h5><%= t('show.telefone') %></h5><p><%= @cidadao.decorate.pretty_telefone %></p></div>
            <div class="col"><h5><%= t('show.email') %></h5><p><%= @cidadao.email %></p></div>
          </div>
          <div class="row row-cols-3">
            <div class="col"><h5><%= t('show.status') %></h5><p><%= @cidadao.decorate.which_status %></p></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <hr>
          <h4><%= t('form.title.address') %></h4>
          <div class="row">
            <div class="col-sm"><h5><%= t('show.logradouro') %></h5><p><%= @cidadao.endereco.logradouro %></p></div>
            <div class="col-sm"><h5><%= t('show.complemento') %></h5><p><%= @cidadao.endereco.complemento %></p></div>
            <div class="col-sm"><h5><%= t('show.bairro') %></h5><p><%= @cidadao.endereco.bairro %></p></div>
          </div>
          <div class="row">
            <div class="col-sm"><h5><%= t('show.cidade') %></h5><p><%= @cidadao.endereco.cidade %></p></div>
            <div class="col-sm"><h5><%= t('show.uf') %></h5><p><%= @cidadao.endereco.uf %></p></div>
            <div class="col-sm"><h5><%= t('show.cep') %></h5><p><%= @cidadao.decorate.pretty_cep %></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
